

<div class="score col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <p>Highest Score</p>
    </div>
    <div class="panel-body score-point">
      <div class="score-content col-md-12">
        <img src="https://avatars3.githubusercontent.com/u/16419909?v=4&s=460" class="col-md-6" alt="">
        <div class="col-md-6 point">
          <p >89 Points</p>
          <p >Atlanta, USA</p>
          <i class="glyphicon glyphicon-certificate"></i>
        </div>
      </div>
        <hr class="col-md-9">
      <div class="score-content col-md-12">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/454423/profile/profile-512.jpg?1" class="col-md-6" alt="">
        <div class="col-md-6 point">
          <p >70 Points</p>
          <p >NY, USA</p>
          <i class="glyphicon glyphicon-fire"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <p>I am the heading</p>
    </div>
    <div class="panel-body">
      <p>I am the body</p>
    </div>
  </div>
</div>
